.header__logo{
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
    margin-right: 27px;
}



@media screen and (max-width: 920px){
    .header__logo{
        width: 104px;
        height: 24px;
        margin-bottom: 30px;
        margin-left: 27px;
    }
}