.footer{
  margin: 0 auto;
  display: flex;
  align-self: baseline;
  max-width: 880px;
  margin-top: 47px;
  padding-bottom: 60px;
}



@media screen and (max-width: 920px){
    .footer{
        max-width: 282px;
        margin-top: 28px;
        padding-bottom: 36px;
    }
}

