.popup__container-item{
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}