.auth__input{
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color:#FFFFFF;
    background-color: #000;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 30px;
    width: 358px;
}

@media screen and (max-width: 920px){
    .auth__input{
        width: 260px;
    }
}